.the-404-page {
	padding-top: 10vh;
}

.the-404-title {
	font-weight: 900;
	margin-bottom: 1.0rem;
}

@keyframes animateFontWeight {
	0% {
		font-weight: 900;
	}
	50% {
		font-weight: 450;
	}
	100% {
		font-weight: 900;
	}
}

.the-404-image {
	width: 100%;
	margin: 0 auto;
}
