/* Layout variables */

:root {
	--padding-y: 25px;
	--menu-height: 45px;
	--footer-height: 32px;
}

@media (min-width: 576px) {
	:root {
		--padding-y: 50px;
	}
}

@media (min-width: 1280px) {
	:root {
		--padding-y: clamp(50px, calc((100vw - 1280px) / 2), 1000px);
	}
}

/* Menu */

.menu {
	width: 100%;
	height: var(--menu-height);

	padding: 0 var(--padding-y);

	background-color: #ffffff;
	border-bottom: 1px solid #c7c7c7;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

.menu-logo {
	color: #363636;
	font-weight: 900;
	font-size: 1.2rem;
	text-decoration: none;
}

.menu-link {
	margin: 0 10px;
}

/* Content container */

.content {
	width: 100%;
	height: calc(100% - var(--menu-height) - var(--footer-height));

	padding: 40px var(--padding-y) 0 var(--padding-y);

	background-color: #faf7f7;
	background-image: url("../assets/images/background_pattern.png");
}

/* Footer */

.footer {
	width: 100%;
	height: var(--footer-height);

	padding: 0 var(--padding-y);

	background-color: #ffffff;
	border-top: 1px solid #c7c7c7;

	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-text {
	margin: 0 5px 0 5px;
}

.footer-link {
	margin: 0 10px;
}