.login-page {
	padding-top: 10vh;
}

.login-title {
	font-weight: 900;
	margin-bottom: 1.0rem;
}

.logo-animation {
	font-weight: 900;
	animation: animateFontWeight 1.6s infinite;
	display: inline-block;
	width: 120px;

	text-align: center;
}

@media (max-width: 1200px) {
	.logo-animation {
		width: calc(calc(1.375rem + 1.5vw) * 3);
	}
}

@keyframes animateFontWeight {
	0% {
		font-weight: 900;
	}
	50% {
		font-weight: 450;
	}
	100% {
		font-weight: 900;
	}
}