.login-page {
	padding-top: 10vh;
}

.login-title {
	font-weight: 900;
	margin-bottom: 1.0rem;
}

@keyframes animateFontWeight {
	0% {
		font-weight: 900;
	}
	50% {
		font-weight: 450;
	}
	100% {
		font-weight: 900;
	}
}